<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


  <div id="flash" data-turbolinks-temporary>
    Product have <%= @product.comments.count %> comments.
  </div>
<section id="comments">
	<% @product.comments.each do |comment| %>
	  <article id="comments:<%= comment.id %>">
	    <p><%= comment.user.email %>: <%= comment.content %></p>
	  </article>
	<% end %>
</section>

<section id="comment-form">
	<%= render partial: 'comments/form' %>
</section>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<br/>


